
 body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  background:#e4edf6;
  margin:0px;
  text-decoration:none; cursor:inherit;

}


.user-container{
max-width:1300px;
min-width: 268px;
padding:10px 25px;
margin:auto;
}

/* user section start here */

.user-section{
background:#f1f3f2;
width:100%;
height:auto;
padding:30px 10px;
padding-bottom:40px;
box-shadow: 0px 0px 3px 3px #cccccc;
margin-bottom:50px;
}

#lastname, #mobile{
padding:6px 10px 6px 11px;
}

.user-sc{
width:95%;
}

.alt-c{
margin:15px 0;
margin-bottom:-12px;
font-size:21px;
}

.main-page-heading{
font-family:Arial;
font-size:34px;
color:#333;
padding:15px;
text-align:center;
text-rendering: optimizeLegibility;
}

.button-cont{
width:100%;
display:inline;
clear:both;
}

.edit-prefer{
float:left;
margin:20px 5px 15px 0px;
}




.border-right{
border-right:1px solid #999999;
}

#address, #conf-pwd, #c-pswd, #e-address{
}

.lnk{
color:#333333;
}

.lnk a{
text-decoration:none;
color:#333333;
}
.link a:hover{
text-decoration:none;
color:#333333;
}

.pet{
margin:40px 10px 50px 0;
padding-bottom:20px;
}

.usr-hd{
}
.add{
margin-bottom:-5px;
}
.fl{
margin-bottom:20px;
}
/* usersection end here */




/* upcoming reminder section start here */

.upcoming-container{

}
.second_container{
width:100%;
}

.dpd-text{
width:100%;
text-align:center;
padding-top:7px;
}

.new-text-pet input{
border-left:none;
border-top:none;
border-right:none;
padding:1px 12px;
border-bottom:1px solid #666666;
height:25px;
background:#f1f3f2;
border-radius:none;
width:100%;
margin-top:2px;

}


.border-botm{
border-bottom:1px solid #777;
height:30px;
width:100%;
margin:auto;

}

.pet-text{
padding:10px 0 0 0 ;
font-size:18px;
}



/* upcoming reminder section end here */


/*  store must select pet section start here  */

.store-sec{
width:100%;
padding:4px;
}

.pet-cont{
margin:5px 0 10px 0;
border:1px solid #ccc;
border-radius:5px;
padding:10px;
margin-left:4px;
width:32.2%;


}

.pet-img{
width:100%;
text-align:center;

}

.desc{
width:100%;
font-size:12px;
text-align:center;
line-height:19px;
margin-top:7px;
}

.weight{
text-align:center;
}

.weight select{
font-size:12px;
padding:6px 3px;
}

.button-cent{
text-align:center;
}
.selc-btn{
padding:2px 6px;
}

/* store must select pet section end here */

/* pet dropdown start here*/


.new-pet-dp input{
border-left:none;
border-top:none;
border-right:none;
padding:1px 12px;
border-bottom:1px solid #666666;
height:25px;
background:#fff;
border-radius:none;
width:100%;
margin-top:2px;

}

.up-done{
float:left;
margin:15px 5px 25px 0px;
}

.pth{
font-size:17px;
font-family:Arial, Helvetica, sans-serif;
}

.pt-hp{
padding:5px;
}

.cl-md{
}

/* pet dropdown end here */
@media (max-width:991px) {

.border-right{
border-right:none;
border-bottom:1px solid #999999;
padding:20px;
}
.button-cent{
clear:both;
}
.pet-cont{
margin:auto;

width:98%;


}
#address, #conf-pwd, #c-pswd, #e-address{
width:100%;
}
}

@media (max-width:767px) {
#address, #conf-pwd, #c-pswd, #e-address{
width:100%;
}
.usr-hd{
font-size:22px;
}
.pth{
font-size:15px;
}
.add{
margin-bottom:5px;
}

.city, .st, .zp{
width:100%;
padding:5px 15px;
margin:auto;
}

.fname, .lname{
width:100%;
}

}
